.DS_Store
.build/
.swiftpm/
DerivedData/
Battery Panic/*
!Battery Panic/Battery Panic.xcodeproj/
!Battery Panic/Battery Panic.xcodeproj/**
outputs/
outputs/*.app
outputs/*.dmg
outputs/*.zip
Resources/*.iconset/
work/
*.xcuserstate
