<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Battery Panic</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.5.14</string>
    <key>CFBundleVersion</key>
    <string>19</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/LeonTOfficial/BatteryPanic/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>XI4zReuhkT5oIylZw3eXkmtQArhooU4Q7fucZ8qndi8=</string>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
    <key>SUScheduledImpatientCheckInterval</key>
    <integer>172800</integer>
    <key>SUEnableSystemProfiling</key>
    <false/>
    <key>SUShowReleaseNotes</key>
    <true/>
</dict>
</plist>
